body {
  background-color: #000099;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: white;
}
